<ion-header [translucent]="true">
  <link rel="stylesheet" type="text/css" href="cadastro.page.scss">
</ion-header>

<ion-content [fullscreen]="true">
  
  <div class="main">
    <div id="container">
      <br>
      
      <H3> <strong>Cadastre-se!</strong></H3>
      <br>

      <ion-input label="Nome" id="nome" name="nome" label-placement="floating" 
      fill="outline" placeholder="Digite seu nome" ></ion-input>

      <br>

      <ion-input label="E-mail" id="email" name="email" label-placement="floating" 
        fill="outline" placeholder="Digite seu e-mail"  [(ngModel)]="email" ></ion-input>

      <br>

      <ion-input label="Senha" id="password" name="password" label-placement="floating" 
      fill="outline" placeholder="Digitar Senha"  [(ngModel)]="password" type="password"></ion-input>

      <br>

      <ion-input label="Confirmar Senha" id="password-confirmation" name="password-confirmation" label-placement="floating" 
      fill="outline" placeholder="Confirmar Senha" type="password-confirmation"></ion-input>

      <br>

      <ion-button class="ion-margin-top" (click)="registrar"()> CADASTRAR </ion-button>

    </div>
  
  </div>

</ion-content>
