ion-back-button{
  color: #ffffff;
}

ion-content {
    --background: #3A4774;
    height: 100vh;
    margin: 5px;
  }
  
  
  #container {
    text-align: center;
   
  }
  
  
  ion-button {
    --background: #1a2948;
    color: #b6b4b4;
    display: flex;
    padding: 10px 110px;
    transition: box-shadow 0.3s ease;
    font-family:Georgia, 'Times New Roman', Times, serif;
  }
  
  ion-input {
    width: 80%;
    margin-bottom: 10px;
    margin-left: 10%;
    color: #ffffff;
  }
  
  h3{
    text-align: center;
    margin-top: 20%;
    font-size: 25pt;
    color: #ffffff;
    font-family:Georgia, 'Times New Roman', Times, serif;
  }
.mensagem-sucesso{
color: #ffffff;
text-align: center;
}

.mensagem-erro{
color: #ffffff;
text-align: center;
}