<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>serviço</ion-title>
  </ion-toolbar>
</ion-header>

<ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button default-href="#"></ion-back-button>
  </ion-buttons>
  <ion-title></ion-title>
  <!-- vai pra tela de agendamento-->
  <ion-button routerLink="/agendamento">AGENDAR</ion-button>
</ion-toolbar>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">servico</ion-title>


    </ion-toolbar>
  </ion-header>
</ion-content>
