<ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button default-href="#"></ion-back-button>
  </ion-buttons>
  <ion-title>Back Button</ion-title>
</ion-toolbar>

<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Conteúdo da página-->

  <h1>Troca a Senha</h1>
<br>

<p> Informe seu e-mail para que
  possamos lhe enviar um código. </p>
  <br>
  <ion-input label="Digite seu Email" label-placement="floating" fill="outline" placeholder="teste@exemplo.com"></ion-input>
  <br>
  <br>

  <ion-button class="botao-personalizado">Enviar</ion-button>


</ion-content>
