img{
    border-radius: 50%;
    height: 250px;
    width: 250px;
    object-fit: cover;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

ion-content{
    width:100vw;
}