img{
    border-radius: 50%;
    height: 250px;
    width: 250px;
    object-fit: cover;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 30px;
    padding: 2rem;
}

.main div{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

ion-content{
    --background: #3A4774;
}

ion-toolbar {
    --background: #3A4774;
    margin: auto;
    color: white;
  }