img{
    border-radius: 50%;
    height: 250px;
    width: 250px;
    object-fit: cover;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 30px;
    padding: 2rem;
}

ion-title{
    margin-left: 35px;
  }
  
ion-content{
    --background: #3A4774;
}

ion-toolbar {
    --background: #3A4774;
    margin: auto;
    color: white;
  }

 
  ion-list {
    margin: 0;
    padding: 0;
  }

  ion-item {
    --inner-padding-end: 1px; // Espaçamento interno do item
    --inner-padding-start: 1px;
    --inner-border-width: 0; // Remove a borda interna padrão
    --background: #3A4774;
  }
  
  ion-label {
    font-size: 10px;
    color: #fff; // Cor do texto dos rótulos
  }

  ion-input {
    font-size: 16px;
    color: #000000; // Cor do texto dos inputs
    border: 1px solid #1d1d1d; // Borda do campo de entrada
    border-radius: 5px;
    padding: 50px 10px;
    background-color: #c2c2c2; // Cor de fundo do input
  }

  ion-buttons {
    ion-button {
      font-size: 14px;
      --padding-end: 20px; // Espaçamento interno do botão
      --padding-start: 20px;
      --border-radius: 5px; // Borda arredondada do botão
      --background: #fff; // Cor de fundo dos botões
      color: #000; // Cor do texto dos botões
      margin-left: 2px; // Margem à esquerda entre botões
    }
  }


  .botao-acao:nth-child(2) {
    margin-top: 10px; // Ajuste de margem entre os grupos de botões
  }

  .botao-acao {
    display: flex;
    justify-content: center;
    margin-top: 10px; // Ajuste de margem superior
  }

  ion-button {
    --background: #fff;
    color: #000;
    transition: box-shadow 0.3s ease;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 8px; /* Borda arredondada */
  }