img{
    border-radius: 50%;
    height: 250px;
    width: 250px;
    object-fit: cover;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 30px;
    padding: 2rem;
}

ion-title{
    margin-left: 35px;
  }
  
span{
  color: #fff;
}
.main div{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

ion-content{
    --background: #3A4774;
}

ion-toolbar {
    --background: #3A4774;
    margin: auto;
    color: white;
  }

  ion-button {
    --background: #ffffff;
    color: #000000;
    transition: box-shadow 0.3s ease;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px; /* Tamanho da fonte */
    padding: 10px 45px; /* Espaçamento interno do botão */
    border-radius: 8px; /* Borda arredondada */
  }
  

  