<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title><strong>Erro</strong></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1>Não há permissão para acessar esta página. <br></h1>
   <p>Favor clicar em <strong>"Página Inicial"</strong> para retornar à página inicial ou em
   <strong>"Sair"</strong> para efetuar o logout do aplicativo.</p>
  <br> <br>

  <ion-button routerLink="/servico"> Página Inicial </ion-button>
  <ion-button class="sair" routerLink="/home">Sair</ion-button>
</ion-content>