

ion-content {
  --background: #3A4774;
  height: 100vh;
  margin: 5px;
}

.main{
  border: 1px solid #ffffff;
  margin: 10px;
  height: 97%;
}

#container {
  text-align: center;
}


ion-button {
  --background: #c1cbde;
  /* Cor de fundo azul */
  color: #000000;
  /* Cor do texto cinza */
  font-family:Georgia, 'Times New Roman', Times, serif;
}

.google img{
  height: 25px;
  --background: #1a2948;
  margin: 10px;
  }


h3{
  text-align: center;
  margin-top: 20%;
  font-size: 25pt;
  color: #ffffff;
  font-family:Georgia, 'Times New Roman', Times, serif;
}