<ion-header [translucent]="true">
  <link rel="stylesheet" type="text/css" href="home.page.scss">
</ion-header>


<ion-content [fullscreen]="true">
  <div class="main">
    <div id="container">
      <br><br>
      <img src="../../assets/Projeto/Logo.png" alt="Minha Imagem">
      <H3> <strong>Bem-vindo!</strong></H3>
      <br>


      
      <ion-input label="E-mail" id="email" name="email" label-placement="floating" 
        fill="outline" placeholder="Digite seu e-mail" [(ngModel)]="email"></ion-input>

      <br>

      <ion-input label="Senha" id="password" name="password" label-placement="floating" 
      fill="outline" placeholder="Digite sua senha" [(ngModel)]="password" type="password"></ion-input>

      <ion-button (click)="login()">ENTRAR</ion-button>
      <p routerLink="/cadastro"> Ainda não tem Cadastro? Clique Aqui!</p>

    </div>
  
  </div>
</ion-content>