<ion-header [translucent]="true">
  <link rel="stylesheet" type="text/css" href="home.page.scss">
</ion-header>


<ion-content [fullscreen]="true">
<div class="main">
  <div id="container">
<br><br><br>
    <img src="../../assets/Projeto/Logo.png" alt="Minha Imagem">
    <H3> <strong>Bem-vindo!</strong></H3>
<br><br>
    <div class="google">
      <ion-button 
        (click)="loginWithGoogle()">
      <img src="../../assets/Projeto/google.png" alt="">
       <strong>LOGAR COM O GOOGLE</strong> 
    
  </ion-button>
  </div>  


  </div>

</div>
</ion-content>