ion-toolbar {
    --background: #3A4774;
    /* Cor de fundo azul /
    color: #fff;
    / Cor do texto cinza */
    margin: auto;
    color: white;
  }

  ion-title{
    margin-left: 30px;
  }

  .container{
    text-align: center;
    position: absolute;
    left: 40;
    right: 0;
    top: 0%;
    transform: translateY(-50%);
  }

  /*  a cor de fundo  */
ion-content {
    --background: #3A4774; 
  }

  h1{
    color: white;
    font-size: 1.625rem;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 10vh; /* Define a altura da tela inteira */
    
  }

  ion-checkbox {
    --size: 25px;
    --checkbox-background: #08223F;
    margin-left: 10px; /* Adiciona um espaço entre o checkbox e o texto */
      
  }

  h3{
    color: white;
    padding: 10px;
    padding-top: 5%;
    
    
    
  }

  span{
    color: white; 
    padding: 10px;
  }

  
ion-button {
  --background: #1a2948;
  /* Cor de fundo azul */
  color: #b6b4b4;
  /* Cor do texto cinza */
  display: flex;
  padding: 10px 110px;
  transition: box-shadow 0.3s ease;
  padding-top: 10%;
}

img{
  padding: 0px 50px;
  padding-top: 10%;
}

ion-fab[slot="fixed"] {
  position: absolute;
  bottom: -35px;  
  right: 0px;  
}

ion-fab-button {
  --background: #1a2948;  
  --color: #b6b4b4; 
  --bottom: -150px; 
}